.after {
  margin-bottom: 250px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    &_text {
      max-width: 635px;
      margin-right: 30px;
    }

    &_img {
      background-image: url("@img/after/img-01.png");
      width: 579px;
      height: 720px;
    }
  }

  &__uptitle {
    margin-bottom: 27px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__subtitle {
    margin-bottom: 27px;
  }
}
